.center.hero-unit
  %h1 Welcome to Avian!
  %h2 The RC Cola of microblogging
  = link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"

= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org'
