- provide(:title, 'About')
%h1 About
%p
  This application is based on the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  by Michael Hartl. Programmed using 
  <a href="http://rubyonrails.org/">Ruby on Rails</a>. 
