/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body { 	font-family:'Helvetica', Arial, sans-serif; font-size:14px; 
	color: #333; background-color:#FFF; line-height:1.5em }
h1 { font-family:'Helvetica', Arial, sans-serif; border:2px dashed;
	line-height: 1em; color:#000; background-color:#FFF; padding:0.75em }
h1.chapter { font-family:'Helvetica', Arial, sans-serif; border:none;
	line-height: 1em; color:#FFF; background-color:#333; padding:1em }
h2 { font-family:'Helvetica', Arial, sans-serif; 
	line-height: 1em; color:#000 }
h3 { font-family:'Helvetica', Arial, sans-serif; font-size:18px; 
	line-height: 1em; color:#000 } 
code { 	font-family: 'Monaco', monospace; font-size:12px }
pre { color:#000; background:#EEE; padding:1em; line-height:1.35em }
#content { margin: 3.5em }
table { border-collapse: collapse; border: 1px solid #333 }
td { border: 1px solid #555; padding-left: 1em } 
th { color: #fff; background-color: #333 }

