%footer.footer
  %small
    by Ryan Case and Michael Hartl
  %nav
    %ul
      %li= link_to "About", about_path
      %li= link_to "Contact", contact_path
      %li= link_to "News", "http://news.railstutorial.org"
